<div class="container">
  <div class="flex">
    <div class="border-x border-y w-[5rem] py-1 text-center text-xs cursor-auto" [ngClass]="borderColor"></div>
    <div class="border-r border-y w-[8rem] py-1 text-center text-xs font-medium cursor-auto" [ngClass]="borderColor">Key</div>
    <div class="border-r border-y w-[8rem] py-1 text-center text-xs font-medium cursor-auto" [ngClass]="borderColor">Value</div>
    <div class="border-r border-y w-[13rem] py-1 text-center text-xs font-medium cursor-auto" [ngClass]="borderColor">Description</div>
    <div class="border-r border-y w-[5rem] py-1 text-center text-xs font-medium cursor-auto" [ngClass]="borderColor">Bulk Edit</div>
  </div>
  <div class="flex">
    <div class="border-x border-b w-[5rem] pt-2 min-h-[2rem] text-center text-xs" [ngClass]="borderColor">
      <app-input-checkbox></app-input-checkbox>
    </div>
    <div class="border-r border-b w-[8rem] py-1 min-h-[2rem] text-center text-xs" [ngClass]="borderColor">
      <app-input-text></app-input-text>
    </div>
    <div class="border-r border-b w-[8rem] py-1 min-h-[2rem] text-center text-xs" [ngClass]="borderColor">
      <app-input-text></app-input-text>
    </div>
    <div class="border-r border-b w-[18rem] py-1 min-h-[2rem] text-center text-xs" [ngClass]="borderColor">
      <app-input-text></app-input-text>
    </div>
  </div>
  <div class="flex">
    <div class="border-x border-b w-[5rem] pt-2 min-h-[2rem] text-center text-xs" [ngClass]="borderColor">
      <app-input-checkbox></app-input-checkbox>
    </div>
    <div class="border-r border-b w-[8rem] py-1 min-h-[2rem] text-center text-xs" [ngClass]="borderColor">
      <app-input-text></app-input-text>
    </div>
    <div class="border-r border-b w-[8rem] py-1 min-h-[2rem] text-center text-xs" [ngClass]="borderColor">
      <app-input-text></app-input-text>
    </div>
    <div class="border-r border-b w-[18rem] py-1 min-h-[2rem] text-center text-xs" [ngClass]="borderColor">
      <app-input-text></app-input-text>
    </div>
  </div>
</div>
